@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #647FBC;
    --color-primary-light: #91ADC8;
    --color-secondary: #AED6CF;
    --color-amarilloPastel: #FAFDD6;
}

